#header{
  --background:rgba(128, 128, 128, 0.178);
}
#carrera{
  --background: rgba(127, 255, 212, 0.288);
}
#nombre{
  --background: rgba(255, 192, 203, 0.575);
}
#datos{
  --background: rgba(88, 30, 88, 0.445);
}
