<ion-header>
  <ion-toolbar id="header">
    <ion-title>
     Acerca de la app
    </ion-title>
    <ion-title>
      "Galería de fotos"
     </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card id="info">
  <ion-card-header>
    <ion-card-subtitle>Instituto Tecnológico Superior de la Región Sierra</ion-card-subtitle>
    <ion-card-title>Div. Ingeniería Informática</ion-card-title>
    <ion-img src=".\assets\icon\Cristhel.jpg"></ion-img>
  </ion-card-header>

  <ion-card-content>
    Esta app fue desarrollada por: Cristhel Ruiz Cabrera, en cumplimiento de la materia de desarrollo de aplicaciones
    móviles del octavo semestre de la carrera de Ing. Informática. Impartida por el Mtro. José Valencia Cruz.
  </ion-card-content>
</ion-card>